
__pycache__/
*.py[codz]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.vscode/

data/parkings.parquet
data/parking_availabilities.parquet
data/pwr_events.parquet
data/sks_users.parquet

data/sks_users2.parquet
data/parkings2.parquet
data/parking_availabilities2.parquet